{% extends "layout.html" %}
{% block content %}
<style>
td.col_value
{width: 200px;height: 180px;}
li {font-size: 15px;}
ul {text-align: left; padding-left: 20px; margin-bottom: 5px;}
span {margin: 0px;padding: 0px;}
ul li:nth-of-type(1n+6) {display: none;}
</style>
<body onload="calendar()">

<div class="row">
  <div class="col-4" >
    <h1>
      <a class="calendar_shift"  href="{{ url_for('home_calendar',date=prev_month.strftime('%Y-%m'))}}">&#9666;</a>
    </h1>
  </div>
  <div class="col-4">
    <h1 id='calendar_focus'>{{title}}</h1>
  </div>
  <div class="col-4" >
    <h1>
      <a class="calendar_shift" href="{{ url_for('home_calendar',date=next_month.strftime('%Y-%m'))}}" >&#9656;</a>
    </h1>
  </div>
</div>
<table class="table table-bordered" id="calendar">
  <tr>
    {% for col in framer.columns %}    
    <th scope="col">{{col}}</th>  
    {% endfor %}
  </tr> 
{% for i in framer.values %}    
  <tr>
    <td >
    <button style="padding: 0; border-width: 0; text-align: center;"></button><strong>{{i[0]}}</strong>
    </td>  
    <td class="col_value">
      {% if i[1]|string|length > 19%}
        <input  type="hidden"value="{{i[1]['date'].strftime('%Y-%m-%d')}}"  name="date">
        <a href="{{url_for('calendar',year_month=i[1]['date'].strftime('%Y-%m'),day=i[1]['date'].strftime('%d'))}}">{{i[1]['date'].strftime('%d')|int}} </a>
          <ul>
            {% for value in i[1]['data'].items() %}
              <li class="{{value[1]['category']}}">{{value[1]['title']|truncate(9, False, '', 0)}}: {{value[1]['start_time'].strftime('%H')}} - {{value[1]['end_time'].strftime('%H:%M')}}</li>
              {% endfor %}
          </ul>
        <span class="someClass"></span>
       
      {% else %}
      <input  type="hidden"value="{{i[1].strftime('%Y-%m-%d')}}"  name="date">
      <a href="{{url_for('calendar',year_month=i[1].strftime('%Y-%m'),day=i[1].strftime('%d'))}}">{{i[1].strftime('%d')|int}}</a>
      {% endif %}
    </td> 
    <td class="col_value">
      {% if i[2]|string|length > 19%}
        <input  type="hidden"value="{{i[2]['date'].strftime('%Y-%m-%d')}}"  name="date">
        <a href="{{url_for('calendar',year_month=i[2]['date'].strftime('%Y-%m'),day=i[2]['date'].strftime('%d'))}}">{{i[2]['date'].strftime('%d')|int}} </a>
          <ul>
            {% for value in i[2]['data'].items() %}
              <li class="{{value[1]['category']}}">{{value[1]['title']|truncate(9, False, '', 0)}}: {{value[1]['start_time'].strftime('%H')}} - {{value[1]['end_time'].strftime('%H:%M')}}</li>  
            {% endfor %}
          </ul>
          <span class="someClass"></span>
       
      {% else %}
      <input  type="hidden"value="{{i[2].strftime('%Y-%m-%d')}}"  name="date">
      <a href="{{url_for('calendar',year_month=i[2].strftime('%Y-%m'),day=i[2].strftime('%d'))}}">{{i[2].strftime('%d')|int}}</a>
      {% endif %}
    </td> 
    <td class="col_value" >
      {% if i[3]|string|length > 19%}
        <input  type="hidden"value="{{i[3]['date'].strftime('%Y-%m-%d')}}"  name="date">
        <a href="{{url_for('calendar',year_month=i[3]['date'].strftime('%Y-%m'),day=i[3]['date'].strftime('%d'))}}">{{i[3]['date'].strftime('%d')|int}} </a>
          <ul>
            {% for value in i[3]['data'].items() %}
              <li class="{{value[1]['category']}}">{{value[1]['title']|truncate(9, False, '', 0)}}: {{value[1]['start_time'].strftime('%H')}} - {{value[1]['end_time'].strftime('%H:%M')}}</li>
            {% endfor %}
          </ul>
          <span class="someClass"></span>
       
      {% else %}
      <input  type="hidden"value="{{i[3].strftime('%Y-%m-%d')}}"  name="date">
      <a href="{{url_for('calendar',year_month=i[3].strftime('%Y-%m'),day=i[3].strftime('%d'))}}">{{i[3].strftime('%d')|int}}</a>
      {% endif %}
    </td> 
    <td class="col_value">
        {% if i[4]|string|length > 19%}
        <input  type="hidden"value="{{i[4]['date'].strftime('%Y-%m-%d')}}"  name="date">
        <a href="{{url_for('calendar',year_month=i[4]['date'].strftime('%Y-%m'),day=i[4]['date'].strftime('%d'))}}">{{i[4]['date'].strftime('%d')|int}} </a> 
          <ul>
            {% for value in i[4]['data'].items() %}
              <li class="{{value[1]['category']}}">{{value[1]['title']|truncate(9, False, '', 0)}}: {{value[1]['start_time'].strftime('%H')}} - {{value[1]['end_time'].strftime('%H:%M')}}</li> 
            {% endfor %}
          </ul>
          <span class="someClass"></span>
          
        {% else %}
        <input  type="hidden"value="{{i[4].strftime('%Y-%m-%d')}}"  name="date">
        <a href="{{url_for('calendar',year_month=i[4].strftime('%Y-%m'),day=i[4].strftime('%d'))}}">{{i[4].strftime('%d')|int}}</a>
        {% endif %}
    </td>
    <td class="col_value">
        {% if i[5]|string|length > 19%}
        <input  type="hidden"value="{{i[5]['date'].strftime('%Y-%m-%d')}}"  name="date">
        <a href="{{url_for('calendar',year_month=i[5]['date'].strftime('%Y-%m'),day=i[5]['date'].strftime('%d'))}}">{{i[5]['date'].strftime('%d')|int}} </a>
          <ul>
            {% for value in i[5]['data'].items() %}
            <li class="{{value[1]['category']}}">{{value[1]['title']|truncate(6, False, '', 0)}}: {{value[1]['start_time'].strftime('%H')}} - {{value[1]['end_time'].strftime('%H:%M')}}</li>
            {% endfor %}
          </ul>
          <span class="someClass"></span>
       
        {% else %}
        <input  type="hidden"value="{{i[5].strftime('%Y-%m-%d')}}"  name="date">
        <a href="{{url_for('calendar',year_month=i[5].strftime('%Y-%m'),day=i[5].strftime('%d'))}}">{{i[5].strftime('%d')|int}}</a>
        {% endif %}
    </td>
    <td class="col_value">
        {% if i[6]|string|length > 19%}
        <input  type="hidden"value="{{i[6]['date'].strftime('%Y-%m-%d')}}"  name="date">
        <a href="{{url_for('calendar',year_month=i[6]['date'].strftime('%Y-%m'),day=i[6]['date'].strftime('%d'))}}">{{i[6]['date'].strftime('%d')|int}} </a>
          <ul>
            {% for value in i[6]['data'].items() %}
            <li class="{{value[1]['category']}}">{{value[1]['title']|truncate(9, False, '', 0)}}: {{value[1]['start_time'].strftime('%H')}} - {{value[1]['end_time'].strftime('%H:%M')}}</li> 
            {% endfor %}
          </ul>
        <span class="someClass"></span>
       
        {% else %}
        <input  type="hidden"value="{{i[6].strftime('%Y-%m-%d')}}"  name="date">
        <a href="{{url_for('calendar',year_month=i[6].strftime('%Y-%m'),day=i[6].strftime('%d'))}}">{{i[6].strftime('%d')|int}}</a>
        {% endif %}
    </td>
    <td class="col_value">
      {% if i[7]|string|length > 19%}
      <input  type="hidden"value="{{i[7]['date'].strftime('%Y-%m-%d')}}"  name="date">
      <a href="{{url_for('calendar',year_month=i[7]['date'].strftime('%Y-%m'),day=i[7]['date'].strftime('%d'))}}">{{i[7]['date'].strftime('%d')|int}}</a>
        <ul id="myList">
          {% for value in i[7]['data'].items() %}
          <li class="{{value[1]['category']}}">{{value[1]['title']|truncate(9, False, '', 0)}}: {{value[1]['start_time'].strftime('%H')}} - {{value[1]['end_time'].strftime('%H:%M')}}</li>
          {% endfor %}
        </ul>
      <span class="someClass"></span>
      
      {% else %}
      <input  type="hidden"value="{{i[7].strftime('%Y-%m-%d')}}"  name="date">
      <a href="{{url_for('calendar',year_month=i[7].strftime('%Y-%m'),day=i[7].strftime('%d'))}}">{{i[7].strftime('%d')|int}}</a>
      {% endif %}
    </td>
  </tr>
{% endfor %}
</table>
{{framer['data']}}

{% if message  %}
  <div class="col-4 offset-4" style="margin-top: 20px;">
    <p class="alert alert-success" role="alert">{{message}}</p>
  </div>
{% endif%}  
</body>
{% endblock %}  
