{% extends "layout.html" %}
{% block content %}

<form action = "http://localhost:5000/clear/" method = "post"> 
     
   
      
        <table class="table table-bordered">
          {% for i in data %}    
          <tr>
            <td><button class="btn btn-primary" name="plot" value="{{i}}">{{i.name}}</button></td>
            
          </tr>
          
          {% endfor %}
        </table>
        <input type="hidden" name="last" value="{{last}}"></input>
  
</form>

{% if graph_data  %}
  <span class="border ">
    <embed type="image/svg+xml" src={{graph_data|safe}} width="100%"/>
  </span>
{% endif %}
{% endblock %} 