
{% extends "layout.html" %}
  {% block content %}
  <style>
    h2 {width: 50%; margin: auto; text-align: center; padding: 20px;}
    form {width: 70%; padding: 20px; margin:auto; background-color:#f5f5f5;}
    .card { margin: auto; margin-bottom: 20px;}
    .new_form{ margin: 0; padding:0; background-color: white; display: inline; }
    a, a:hover,a:visited, a:focus {text-decoration:none;}
 </style>
  <h2 >Create user profile</h2>
   <form  method="POST" class="border" name="submit">
      <div class="form-group">
         <input class="form-control" placeholder="username" name="username">
         <br>
         <input class="form-control" placeholder="email" name="email">
         <br>
         <input class="form-control" placeholder="hometown" name="home_town">
         <br>
         <input class="form-control" type="password" placeholder="password" name="password">
         <br>
         <input class="form-control" type="password" placeholder="confirm password" name="password_confirm">
         <br>
      </div>
      <button class="btn btn-primary">Submit</button>
      
   </form>
   <br>
   {% if error_message %}
   <div class="alert alert-warning" role="alert">
      {{error_message}}
    </div> 
   {% endif %}
{% endblock %}  
