
{% extends "layout.html" %}
{% block content %}

{% if social_header %}

<div class="row" style="padding-top: 20px; ">
  

<div class="card col-3 offset-2"  style="width: 18rem;">
  <a href="{{ url_for('crud')}}" style="text-align: center; color:blue; padding-top:20px; margin: 0px; " >Latest social media post</a>
  <div class="card-body">
    <h6 class="card-title">{{social_header[0][0]}}</h6>
    <p class="card-text">{{social_header[0][1]}}.</p>
    <p class="card-subtitle mb-2 text-muted">{{social_header[0][3]}} on {{social_header[0][2]}}.</p>
  </div>
</div>


<div class="card col-3 offset-2"  style="width: 18rem;">
  <a href="{{url_for('weather_city',city=summary['home_town'] )}}" style="text-align: center; color:blue; padding-top:20px; margin: 0px;">Current conditions in {{summary['home_town']}} </a>
  <div class="card-body">
    <h6 class="card-title">{{summary['temperature']}} {% if summary['wind_chill'] %} C°, feels like {{summary['wind_chill']}} C°.{% endif %}</h5>
    <p class="card-text">{{summary['summary']}}</p>
    <p class="card-subtitle mb-2 text-muted">updated on {{summary['forecast_time']}}.</p>
    
  </div>
</div>
</div>
</div>

{% endif%}
  

{% if message  %}
  <div class="col-4 offset-4" style="margin-top: 20px;">
    <p class="alert alert-success" role="alert">{{message}}</p>
  </div>
  {% endif%}
  
  
    
{% endblock %}  
