<!doctype html>
<html>
    <head>
        <title>Fuck u</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Index</title>
      </head>
      <style>
      table, th, td {
        border: 1px solid black;
      }
      
      </style>
  <body>
    
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
      <a class="navbar-brand" href="{{ url_for('enter_city') }}">Finnish Weather</a>
      <a class="navbar-brand" href="{{ url_for('covid_request') }}">Coronavirus</a>
      <a class="navbar-brand" href="{{ url_for('db_load_pop') }}">Demographics</a>
      <a class="navbar-brand" href="{{ url_for('crud') }}">Social Media Blog</a>
      <a class="navbar-brand" href="{{ url_for('graph') }}">Graph</a>
      <a>{{ now.strftime("%Y-%m-%d %H:%M") }}</a>
    </nav>
    
    
    <div class="container">
    <div id="content">{% block content %}{% endblock %}</div>
  </div>
  </body>
</html>


