
{% extends "layout.html" %}
  {% block content %}
 
  <h1 style="color: blue; text-align:center">Finnish City Data</h1>
    <div class="container">
        <br>
    <table class="table table-bordered" >
        <tr>
            <th scope="col">Location</th>
            <th scope="col">Population 2019</th>  
        </tr>
    {% for i,c in pop_data %}    
        <tr>
            <td>{{i}}</td>
            <td>{{c|thousandsFormat}}</td>
        </tr>
    {% endfor %}
    
    </table>
</div>
{% endblock %}  
