{% extends "layout.html" %}

{% block content %}
<style>

form {width: 70%; padding: 20px; margin:auto; background-color:#f5f5f5; margin-top: 20px;}
::-webkit-scrollbar { 
  width: 0px!important;
} 

.dropdown_check{
  margin-left: 10px;
  
}

input[name="days"] {
  margin-right: 10px;
}

</style>
<body onload="parse_calendar()">
  <div style="display: none;"> 
    <table id="cloner">
      <tr>
        <td><input type="text" class="form-control" placeholder="evening hell" name="rule_name"></th>
        <td><input type="text" class="form-control" placeholder="floating decimal or whole number" name="rate"></th>
        <td>
          <select class="form-control text-center" size="1" name="start_times" >
            <option selected disabled>Start time</option>
            {% for time in times[:-1]%}
              <option value='{{time}}'>{{time}}:00</option>
            {% endfor %}
          </select>
        </td>
        <td> 
          <select class="form-control text-center" size="1" name="end_times">
            <option selected disabled>End time</option>
            {% for time in times[1:]%}
              <option value='{{time}}'>{{time}}:00</option>
            {% endfor %}
           
          </select>
        </td>
        <td style="height: 100%;">
         <div class="dropdown col-3 text-center" style="display: inline; padding: 0px;">
            <button class="btn btn-link" style="text-decoration: none; width: 100%;"  type="button" data-bs-toggle="dropdown">Select days</button>
            <input type="hidden" name="days_arr">
            <ul class="dropdown-menu" style="width: 70%;">
              <li class="dropdown_check"><input class="form-check-input" type="checkbox" value="0">Monday</li>
              <li class="dropdown_check"><input class="form-check-input" type="checkbox" value="1">Tuesday</li>
              <li class="dropdown_check"><input class="form-check-input" type="checkbox" value="2">Wednesday</li>
              <li class="dropdown_check"><input class="form-check-input" type="checkbox" value="3">Thursday</li>
              <li class="dropdown_check"><input class="form-check-input" type="checkbox" value="4">Friday</li>
              <li class="dropdown_check"><input class="form-check-input" type="checkbox" value="5">Saturday</li>  
              <li class="dropdown_check"><input class="form-check-input" type="checkbox" value="6">Sunday</li>  
            </ul>
          </div>

        </td>
      </tr>
    </table>
  </div>


<div class="row" style="text-align: center;margin-top: 20px;">
  <div class="col-4">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new_contract" >
      add contract
    </button>
  </div>
  
  <div class="col-4">
    {% if contracts %}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#settings">
      settings
    </button>
    {% endif %}
  </div>

  <div class="col-4">
    <button type="button" class="btn btn-primary" id="reappend">
      Reappend db
    </button>
  </div>
 
</div>
<!-- Modal for settings-->
{% if contracts %}
<div class="modal fade" id="settings" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog" style="max-width: 1000px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new contract</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
      </div>
      <div class="modal-body">
          <form  id="calendar_get_year" method="POST" style="margin:0px;width:100%;" >
          <p>Select tax year, and search string to parse work data from Google calendar: </p>
          <div class="row" style="padding-bottom: 20px;">
            <div class="col-4">
              <select class="form-select col-6" aria-label="Default select example" name="search_parameter">
                <option selected>contract</option>
                {% for contract in contracts%}
                <option value="{{contract}}" >{{contract}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-4">
              <select class="form-select col-6" aria-label="Default select example" name="year" style="display: none;">
                <option selected>year</option>
              </select>
            </div>
            <div class="col-4">
              <button class="btn btn-primary" type="submit" id="calendar_parser" style="display: none;">parse!</button>
            </div>
          </div>
          <div class="row" style="padding-top: 20px;">
            <p>The tax year starts from payments originating from December of the last year, and spans to December of the tax year in question. Duplicate entries of events are not allowed, and the current month ({{now.strftime('%B, %Y')}}) is not parsed since shift changes in the current working month are common.</p>
            <p>Parsing the current year does not insert values of the current month to the database. Navigating to a past work month which was not parsed here, is automatically inserted into the database!</p>
          </div>
          </form>
      </div>
    </div>
  </div>
</div>
{% endif %}


  <!-- Modal for new contract-->
  <div class="modal fade" id="new_contract" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="max-width: 1000px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create new contract</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
        </div>
        <div class="modal-body">
          <form style="margin:0px;width:100%;" method="POST" name="new_contract">
              <div class="row">
                <div class="col-4" >
                  <p>Employer</p>
                  <input class="form-control" placeholder="ruffryderz LLC" name="employer">
                </div>
                <div class="col-4">
                  <p>How far in advance are you paid?</p>
                  <select class="form-select" aria-label="Default select example" name="paydate_month_offset">
                    <option selected>choose month offset</option>
                    <option value="0">0 (same month)</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                </div>
              </div>
             
              <br>
              <div class="row" style="display: none;" id="paymet_rules">
                <p>Hourly pay:</p>
                <div class="col-4">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="floating decimal (11.90) or whole number (11)" name="base">
                  </div>
                </div>
                <div class="col-3" id="add_supplement" style="display: none;">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                    <label class="form-check-label">
                      Add supplements
                    </label>
                  </div>
                </div>
                <div class="col-4" id="add_google_years" style="display: none;">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                    <label class="form-check-label">
                      Collect Google Calendar data
                    </label>
                  </div>
                </div>
              </div>
              <br >
              <div id="supplement_table" class="row" style="display: none;" >
                <p>Supplement table:</p>
                <div class="col-10">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        <th scope="col">Days</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
                <div class="col-1" > 
                  <button class="btn btn-success" id="add_row" title="add row">+</button>
                </div>
                <div class="col-1"> 
                  <button class="btn btn-warning" id="del_row" title="delete last row">-</button>
                </div>
              </div>
             
              <div class="row" style="display: none;" id="new_contract_years">
              <p>Select years to collect from Google Calendar. You can update the information later.</p>
                <div class="col-8">
                  <select multiple class="form-control" size="3" id="parse_years" name="parse_years">
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                  </select>
                </div>
              </div>
              <br>
              <button class="btn btn-primary" id="create_contract" style="display: none;">Ready!</button>
            </form>
            <br>
            <div id="message" style="display: none;" class="alert alert-warning">

            </div>
            <div id="ajax_message" style="display: none;" class="alert alert-success">

            </div>
            
        </div>
       
      </div>
    </div>
  </div>
{% for year in tax_years_frame %}
<div style="width: 70%; margin: auto;">
  {{year|safe}}
</div>
{% endfor %}
</body>
{% endblock %}

