{% extends "layout.html" %}
{% block content %}	
<style>
    h2 {width: 50%; margin: auto; text-align: center; padding: 20px;}
    form {width: 70%; padding: 20px; margin:auto; background-color:#f5f5f5;}
    .card { margin: auto; margin-bottom: 20px;}
    .new_form{ margin: 0; padding:0; background-color: white; display: inline; }
    select:focus > option:hover { 
    background: white !important;
}
</style>

<body onload="task_page()">
{% if is_future %}
<h2 >Create task for {{title}}</h2>
   <form  method="POST" class="border" id="to_do">
      <div class="form-group">
            <div class="row">
            <div class="col-2" style="align-items: center;">
            <div class="form-check">
               <label class="form-check-label" for="flexCheckChecked">
                  All day
                  </label>
                  <input class="form-check-input" type="checkbox" name="whole_day" id="flexCheckChecked" checked>
             </div>
            </div>
             
          </div> 
          <div id="text" style="display:none"> 
            <div class="row">
               <div class="col-4">
                  <select class="form-select" aria-label="Default select example" style="margin-top: 20px;" name ="start_time" id="fromtime" (change)="changeFromTime($event.target.value)">
                     <option selected disabled>Start time</option>
                     {% for time in times[:-1] %}
                     <option value="{{time}}" >{{time[11:16]}}</option>
                     {% endfor %}
                  </select>
               </div>
               <div class="col-4">
                  <select class="form-select" aria-label="Default select example" style="margin-top: 20px;" name ="end_time" id="totime">
                     <option selected disabled>End time</option>
                     {% for time in times[1:] %}
                     <option value="{{time}}" class="to_time">{{time[11:16]}}</option>
                     {% endfor %}
                  </select>
               </div>
            </div>
            </div>
         </div>
         <input type="hidden" id="day" value={{day}}>
         
         <select class="form-select" aria-label="Default select example" name="category"style="margin-top: 20px;">
            <option selected value="">task type</option>
            <option value="work">work</option>
            <option value="fun">fun</option>
            <option value="errand">errand</option>
          </select>
         <input class="form-control"  placeholder="chilling in män-tsälä like a real män" name="title" style="margin-top: 20px;"></textarea>
         <button class="btn btn-primary" style="margin-top: 20px;">Submit</button>
     
      </div>
 </form>
 {% else %}
 <h2 >Tasks for {{title}}</h2>
 {% endif %}
   <br> 
   <div class="alert alert-warning" style="display: none; width: 70%; margin: auto;" id="warning"> 
    </div>

   {% if message  %}
   <div class="col-4 offset-4" style="margin-top: 20px;">
     <p class="alert alert-warning" role="alert">{{message}}</p>
   </div>
   {% endif%}

<div style="width: 70%; margin:auto;margin-top: 20px;">
  {% for i in day_data.values %}
   <div class="card" id="{{i[0]}}">
      <div class="card-body">
         <p class="card-text {{i[4]}}"><strong>{{i[4]}}</strong></p>
         <p class="card-text title">{{i[3]}}</p>
         <p class="card-subtitle mb-2 text-muted">{{i[1].strftime('%H:%M')}} to {{i[2].strftime('%H:%M')}}</p>        
      </div>  
   </div>  
  {% endfor %}
</div> 
 </body>
{% endblock %} 
